<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Listagem da busca dos endereços</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Listagem da busca dos endereços</h1>

    <!-- Exibindo erro caso haja -->
    <div th:if="${erro}" style="color: red;">
        <p th:text="${erro}"></p>
    </div>

    <!-- Formulário de busca -->
    <form th:action="@{/resultadoBuscado}" method="post" th:object="${endereco}">
        <p>Código: <input type="text" th:field="*{codigo}" /></p>
        <button type="submit">Buscar</button>
    </form>

   
    </div>

    <!-- Link para cadastro de novo endereço -->
    <a href="/inicio_cadastrar">Cadastrar novo endereço</a>
</body>
</html>
